.cabecalho{
    width: 100%;
    height: 150px;
    background-color: black;
    margin-top: 25px;
}
.area-logo{
    width: 20%;
    height: 100px;
    background-color: blue;
}
.pesquisa{
    width: 80%;
    height: 150px;
    background-color: aliceblue;
}
header{
    display: flex;
}
.menu-superior{
    width: 100%;
    height: 50px;
    background-color: brown;
}